/*=====SVG CSS=====*/
#bluedragon-svg:hover > g{
	opacity: 0.2;
	}
	
#bluedragon-svg:hover > g:hover{
	opacity: 1.0;
	}


.water {
	color: #1E628C;
	fill: #1E628C;
}

#hooverGroup:hover{
	transform-origin: center center;
	-ms-transform-origin: center center;
	-webkit-transform-origin: top center;
	-moz-transform-origin: 480px 0px;
	transform: scale(3);
	-ms-transform: scale(3);
	-webkit-transform: scale(3);
	-moz-transform: scale(3);
}

#hooverGroup {
	pointer-events: all;
	transform: scale(1);
}

#davisGroup:hover {
	transform-origin: center center;
	-ms-transform-origin: center center;
	-webkit-transform-origin: center center;
	-moz-transform-origin: 450px 145px;
	transform: scale(3);
	-ms-transform: scale(3);
	-webkit-transform: scale(3);
	-moz-transform: scale(3);
}

#davisGroup {
	pointer-events: all;
	transform: scale(1);
}

#davisParkerGroup:hover {
	transform-origin: center center;
	-ms-transform-origin: center center;
	-webkit-transform-origin: center center;
	-moz-transform-origin: 450px 195px;
	transform: scale(3);
	-ms-transform: scale(3);
	-webkit-transform: scale(3);
	-moz-transform: scale(3);
}

#davisParkerGroup {
	pointer-events: all;
	transform: scale(1);
}

#parkerGroup:hover {
	transform-origin: center center;
	-ms-transform-origin: center center;
	-webkit-transform-origin: center center;
	-moz-transform-origin: 480px 195px;
	transform: scale(3);
	-ms-transform: scale(3);
	-webkit-transform: scale(3);
	-moz-transform: scale(3);
}

#parkerGroup {
	pointer-events: all;
	transform: scale(1);
}

#headgateGroup:hover {
	transform-origin: center center;
	-ms-transform-origin: center center;
	-webkit-transform-origin: center center;
	-moz-transform-origin: 450px 275px;
	transform: scale(3);
	-ms-transform: scale(3);
	-webkit-transform: scale(3);
	-moz-transform: scale(3);
}

#headgateGroup {
	pointer-events: all;
	transform: scale(1);
}

#paloVerdeGroup:hover {
	transform-origin: center center;
	-ms-transform-origin: center center;
	-webkit-transform-origin: center center;
	-moz-transform-origin: 400px 330px;
	transform: scale(3);
	-ms-transform: scale(3);
	-webkit-transform: scale(3);
	-moz-transform: scale(3);
}

#paloVerdeGroup {
	pointer-events: all;
	transform: scale(1);
}

#outwashGroup:hover {
	transform-origin: center center;
	-ms-transform-origin: center center;
	-webkit-transform-origin: center center;
	-moz-transform-origin: 400px 400px;
	transform: scale(3);
	-ms-transform: scale(3);
	-webkit-transform: scale(3);
	-moz-transform: scale(3);
}

#outwashGroup {
	pointer-events: all;
	transform: scale(1);
}

#imperialGroup:hover {
	transform-origin: center center;
	-ms-transform-origin: center center;
	-webkit-transform-origin: center center;
	-moz-transform-origin: 390px 440px;
	transform: scale(3);
	-ms-transform: scale(3);
	-webkit-transform: scale(3);
	-moz-transform: scale(3);
}

#imperialGroup {
	pointer-events: all;
	transform: scale(1);
}

#morelosGroup:hover {
	transform-origin: center center;
	-ms-transform-origin: center center;
	-webkit-transform-origin: 45% 110%;
	-moz-transform-origin: 200px 700px;
	transform: scale(1.5);
	-ms-transform: scale(1.5);
	-webkit-transform: scale(1.5);
	-moz-transform: scale(1.5);
	transition-delay:0s;
}

#morelosGroup {
	pointer-events: all;
	transform: scale(1);
	transition-delay:.5s;
}

#easternGroup:hover {
	transform-origin: center center;
	-ms-transform-origin: center center;
	-webkit-transform-origin: center center;
	-moz-transform-origin: 480px 560px;
	transform: scale(3);
	-ms-transform: scale(3);
	-webkit-transform: scale(3);
	-moz-transform: scale(3);
	transition-delay:0s;
}

#easternGroup {
	pointer-events: all;
	transform: scale(1);
	transition-delay:.5s;
}

#saltonGroup:hover {
	transform-origin: center center;
	-ms-transform-origin: center center;
	-webkit-transform-origin: 10% 90%;
	-moz-transform-origin: 20px 580px;
	transform: scale(2);
	-ms-transform: scale(2);
	-webkit-transform: scale(2);
	-moz-transform: scale(2);
	transition-delay:0s;
}

#saltonGroup {
	pointer-events: all;
	transform: scale(1);
	transition-delay:.5s;
}