@charset "UTF-8";
/* CSS Document */
nav{
	height:28px;
	background:#003366;
	color:#fff;
	padding:2px 5px;
	}
	
nav h3{color:#fff;}

/*=====Container CSS=====*/
.container {
	margin:0 0 100px 0;
	padding: 15px;
	text-align:center;
	position:relative;
	}
	


#container1{
	background-image:url('../img/keynotes/welcome-mobile.jpg');
	background-position: center center;
	background-size:contain;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
	background-repeat:no-repeat;
	height:100%;
	width:100%;
	padding:0;
	}
	
#container3{
	background-image:url('../img/keynotes/keynote2-mobile.jpg');
	background-position: center center;
	background-size:cover;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
	background-repeat:no-repeat;
	height:100%;
	}
	
#container5{
	background-image:url('../img/keynotes/keynote3-mobile.jpg');
	background-position: center center;
	background-size:cover;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
	background-repeat:no-repeat;
	height:100%;
	}
	
#container7{
	background-image:url('../img/keynotes/keynote4-mobile.jpg');
	background-position: center center;
	background-size:cover;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
	background-repeat:no-repeat;
	height:100%;
	}
	
/*=====keynote css=====*/	
.keynote{
	color:#fff;
	width:100%;
	min-height:100px;
	margin:auto;
	position:absolute;
	top:6%;bottom:0;left:0;right:0;
	}
	
.keynote h1,
.keynote h2{
	font-weight:100;
	color:#fff;
	}
	
.keynote h1{
	font-size:6vw;
	margin-bottom:10px;
	}
	
.keynote h2{
	font-size:5vw;
	}
	
/*=====Container Content CSS=====*/

.sectionContent{
	min-height:100px;
	text-align:left;
	}
	
.sectionContent h3{
	color:#003366;
	font-weight:100;
	font-size:1.4em;
	text-align:center;
	margin-bottom:10px;
	}
	
.sectionContent p{
	margin-bottom:10px;
	}
	
.sectionContent p,
.sectionContent ul{
	font-weight:300;
	}
	
.sectionContent ul{
	list-style:disc;
	margin:0 0 10px 20px;
	}
	
.sectionContent ul li{
	margin-bottom:5px;
	}
	
#JrGraph h2{
	font-size:1em;
	}
	
@media screen and (min-width:687px){
	
	nav{
		margin-top:1px;
		padding:1px 5px;
		height:28px;
		}
		
/*======Container CSS======*/
	.container{
		padding:50px;
		}
		
	#container1,
	#container3,
	#container5,
	#container7{
		background-attachment: fixed;
		}
		
	#container1{
		background-image:url('../img/keynotes/welcome.jpg');
		}
		
	#container3{
		background-image:url('../img/keynotes/keynote2.jpg');
		}
		
	#container5{
		background-image:url('../img/keynotes/keynote3.jpg');
		}
		
	#container7{
		background-image:url('../img/keynotes/keynote4.jpg');
		}
/*======keynote CSS======*/
	.keynote{
		top:330px;
	}
	
	.keynote h1{
		font-size:5vw;
		margin-bottom:5px;
	}
	
	.keynote h2{
		font-size:4vw;
	}
	
	#keynote2 h2{
		margin-top:100px;
		}
/*======Content CSS======*/

	.sectionContent{
		width:90%;
		margin:0 auto;
		}
	
	#JrGraph h2{
	font-size:1.5em;
	}
	
}

@media screen and (min-width:1025px){
	.keynote{
		width:960px;
		}
	
	.keynote h1{
		font-size:3vw;
	}
	
	.keynote h2{
		font-size:2vw;
	}
	
	.sectionContent{
		width:900px;
		}
		
	.sectionContent h3{
		font-size:1.6em;
		}
	
	#JrGraph{
		width:1024px;
		margin:0 auto;
		}
	
	}





