@charset "UTF-8";
/* CSS Document */
nav{
	height:28px;
	background:#003366;
	color:#fff;
	padding:2px 5px;
	}
	
nav h3{color:#fff;}

/*=====SVG CSS=====*/

text{
	font-size: 16px;
   	cursor: default;
    font-family: Roboto, Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;;
    }
.dater{
    font-size: 21px;
    }
.tooltip{
    font-size: 12px;
    }
.caption{
    font-size: 12px;
    font-family: Roboto, Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;;
    }

/*=====Container CSS=====*/
.container {
	margin:0 0 100px 0;
	padding: 15px;
	text-align:center;
	}
	


#container1{
	background-image:url('../img/keynotes/welcome-mobile.jpg');
	background-position: center center;
	background-size:cover;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
	background-repeat:no-repeat;
	height:100%;
	width:100%;
	padding:0;
	}
	
#container3{
	background-image:url('../img/keynotes/keynote2-mobile.jpg');
	background-position: center center;
	background-size:cover;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
	background-repeat:no-repeat;
	height:100%;
	}
	
#container5{
	background-image:url('../img/keynotes/keynote3-mobile.jpg');
	background-position: center center;
	background-size:cover;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
	background-repeat:no-repeat;
	height:100%;
	}
	
#container7{
	background-image:url('../img/keynotes/keynote4-mobile.jpg');
	background-position: center center;
	background-size:cover;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
	background-repeat:no-repeat;
	height:100%;
	}
	
#container10{
	background-image:url('../img/meadbg.jpg');
	background-position: center center;
	background-size:cover;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
	background-repeat:no-repeat;
	height:100%;
	margin-bottom:2400px;
	}
	
/*=====keynote css=====*/	
.keynote{
	color:#fff;
	width:100%;
	min-height:100px;
	margin:auto;
	position:absolute;
	top:30%;bottom:0;left:0;right:0;
	}
	
#keynote3{
	top:2%;
	}
	
#keynote4{
	top:15%;
	}
	
.keynote h1,
.keynote h2{
	font-weight:100;
	color:#fff;
	padding:10px;
	font-weight:300;
	}
	
.keynote h1{
	font-size:7vw;
	}
	
.keynote h2{
	font-size:6vw;
	}
	
/*=====Container Content CSS=====*/

.section{
	position:relative;
	height:100%;
	}

.sectionContent{
	min-height:100px;
	text-align:center;
	margin-bottom:30px;
	}
	
.sectionContent h3,
.sectionContent p,
.sectionContent li{
	text-align:left;
	}
	
.sectionContent h3{
	color:#003366;
	font-weight:100;
	font-size:1.4em;
	text-align:center;
	margin-bottom:10px;
	}
	
.sectionContent p{
	margin-bottom:10px;
	}
	
.sectionContent p,
.sectionContent ul{
	font-weight:300;
	}
	
.sectionContent ul{
	list-style:disc;
	margin:0 0 10px 20px;
	}
	
.sectionContent ul li{
	margin-bottom:5px;
	}
	
.supportinginfo,
.interact{
	background:none;
	color:#003366;
	font-weight:bold;
	padding:10px;
	border:1px solid #003366;
	border-radius:5px;
	margin-top:20px;
	}
	
.spacer{
	margin-bottom:100px;
	}
	
.white{
	border:1px solid #fff;
	color:#fff;
	}
	
.supportinginfo:hover,
.supportinginfo:focus,
.interact:hover,
.interact:focus{
	background:#003366;
	color:#fff;
	}
	
.white:hover,
.white:focus{
	background:#fff;
	color:#003366;
	}
	
#blueDragon img{
		width:100%;
		height:auto;
		margin-bottom:5pxpx;
		}
		
#blueDragon img:first-child{
	margin-top:10px;
	}
		
.picDescription{
	background:rgba(0,51,102,.2);
	width:100%;
	min-height:100px;
	margin-bottom:10px;
	}
	
#JrGraph h2{
	font-size:1em;
	}
	
#meadSVGContainer h2{
	color:#fff;
	margin-bottom:30px;;
	}
	
#meadSVGContainer object{
	margin-left:10%;
	}
	
@media screen and (min-width:687px){
	
	nav{
		margin-top:1px;
		padding:1px 5px;
		height:28px;
		}
		
/*======Container CSS======*/
	.container{
		padding:50px;
		}
		
	#container1,
	#container3,
	#container5,
	#container7{
		-webkit-background-size: cover;
		background-attachment: fixed;
		}
		
	#container1{
		background-image:url('../img/keynotes/welcome.jpg');
		}
		
	#container3{
		background-image:url('../img/keynotes/keynote2.jpg');
		}
		
	#container5{
		background-image:url('../img/keynotes/keynote3.jpg');
		}
		
	#container7{
		background-image:url('../img/keynotes/keynote4.jpg');
		}
/*======keynote CSS======*/
	.keynote,
	#keynote3,
	#keynote4{
		top:25%;
	}
	
	#keynote1{
		top:35%;
		}
	
	.keynote h1,
	.keynote h2{
		font-weight:100;
		}
	
	.keynote h1{
		font-size:5vw;
		margin-bottom:5px;
	}
	
	.keynote h2{
		font-size:4vw;
	}
	
	#keynote2 h2{
		margin-top:100px;
		}
/*======Content CSS======*/

	.sectionContent{
		width:90%;
		margin:0 auto;
		}
		
	#blueDragon img{
		margin-bottom:10px;
		}
		
	.picDescription{
		display:none;
	}
	
	#JrGraph h2{
	font-size:1.5em;
	}
	
	#meadSVGContainer object{
		margin-left:0%;
	}
	
}

@media screen and (min-width:1025px){
	.keynote{
		width:980px;
		}
	
	.keynote h1{
		font-size:3vw;
	}
	
	.keynote h2{
		font-size:2vw;
	}
	
	.sectionContent{
		width:900px;
		}
		
	.sectionContent h3{
		font-size:1.6em;
		}
		
	#blueDragon img{
		width:960px;
		}
	
	#JrGraph{
		width:1024px;
		margin:0 auto;
		}
		
	#meadSVGContainer{
		width:760px;
		margin:0 auto;
		}
	
	}





