@charset "UTF-8";
/* CSS Document */

nav {
	height: 28px;
	background: #003366;
	color: #fff;
	padding: 2px 5px;
}

nav h3 {
	color: #fff;
}
/*=====Container CSS=====*/

.container {
	margin: 0 0 100px 0;
	padding: 15px;
	text-align: center;
}

#welcomeContainer {
	background-image: url('../img/keynotes/welcome-mobile.jpg');
	background-position: center center;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-repeat: no-repeat;
	height: 100%;
	width: 100%;
	padding: 0;
}

#mainMessage1Container {
	background-image: url('../img/keynotes/keynote2-mobile.jpg');
	background-position: center center;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-repeat: no-repeat;
	height: 100%;
}

#mainMessage2Container {
	background-image: url('../img/keynotes/keynote3-mobile.jpg');
	background-position: center center;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-repeat: no-repeat;
	height: 100%;
}

#mainMessage3Container {
	background-image: url('../img/keynotes/keynote4-mobile.jpg');
	background-position: center center;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-repeat: no-repeat;
	height: 100%;
}

#mainmMessageDroughtContainer {
	background-image: url('../img/keynotes/drydirt-mobile.jpg');
	background-position: center center;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-repeat: no-repeat;
	height: 100%;
}

#basinReservoirContainer {
	margin-bottom: 0px;
}

#mainMessage4Container {
	background-image: url('../img/keynotes/keynote5-mobile.jpg');
	background-position: center center;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-repeat: no-repeat;
	height: 100%;
}

#mainMessage5Container {
	background-image: url('../img/keynotes/keynote6-mobile.jpg');
	background-position: center center;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-repeat: no-repeat;
	height: 100%;
	margin-bottom: 50px;
}

#basinDividedContainer {
	margin-bottom: 20px;
}

#mainMessage6Container {
	background-image: url('../img/keynotes/keynote7-mobile.jpg');
	background-position: center center;
	background-position: center center;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-repeat: no-repeat;
	height: 100%;
}

#mainmMessage7Container {
	background-image: url('../img/keynotes/keynote8-mobile.jpg');
	background-position: center center;
	background-position: center center;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-repeat: no-repeat;
	height: 100%;
}

#meadAnimatedContainer {
	background-image: url('../img/keynotes/keynote8-mobile.jpg');
	background-position: center center;
	background-position: center center;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-repeat: no-repeat;
	height: 100%;
	margin-bottom: 4200px;
}
#endEraContainer {
	background-image: url('../img/keynotes/keynote9-mobile.jpg');
	background-position: center center;
	background-position: center center;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-repeat: no-repeat;
	height: 100%;
}
/*=====keynote css=====*/

.keynote {
	color: #fff;
	width: 100%;
	min-height: 100px;
	margin: auto;
	position: absolute;
	top: 25%;
	bottom: 0;
	left: 0;
	right: 0;
}

.keynote h1,
.keynote h2 {
	font-weight: 100;
	color: #fff;
	padding: 10px;
	font-weight: 300;
}

.keynote h1 {
	font-size: 6vw;
}

.keynote h2 {
	font-size: 6vw;
}

#keynote1 h1,
#keynote1 h2{
	font-weight:300;
	}
	
#keynote1 h2#emphasized{
	font-weight:400;
	}
/*=====Container Content CSS=====*/

.section {
	position: relative;
	height: 100%;
}

.sectionContent {
	min-height: 100px;
	text-align: center;
	margin-bottom: 100px;
}

.sectionContent h3,
.sectionContent p,
.sectionContent li {
	text-align: left;
}

.sectionContent h3 {
	color: #003366;
	font-weight: 100;
	font-size: 1.4em;
	text-align: center;
	margin-bottom: 10px;
}

.sectionContent p,
.graphCaption p {
	margin-bottom: 10px;
	line-height: 1.8em;
	font-weight:300;
}

.sectionContent p,
.sectionContent ul {
	font-weight: 300;
}

.sectionContent ul {
	list-style: disc;
	margin: 0 0 10px 20px;
}

.sectionContent ul li {
	margin-bottom: 5px;
}
/*Supporting Info Buttons CSS*/

.supportinginfo,
.interact {
	background: none;
	color: #003366;
	font-weight: bold;
	padding: 10px;
	border: 1px solid #003366;
	border-radius: 5px;
	margin: 20px 0 20px 0;
	outline: none;
}

.interact{
	margin:-10px 0 20px 0;
	}

.spacer {
	margin-bottom: 20px;
}

.supportinginfo:hover,
.interact:hover{
	background: #003366;
	color: #fff;
}
/*Supporting Info Content CSS*/

.supportingInfoContent {
	background: rgba(0, 51, 102, .2);
	display: none;
	padding: 15px;
	color: #000;
	margin: 10px 0 40px 0;
	border-radius: 5px;
}

.supportingInfoContent p {
	margin-bottom: 10px;
	line-height: 1.5em;
}

.graphCaption{
	background:rgba(0,51,102,.2);
	width:100%;
	min-height:100px;
	margin:20px 0 10px 0;
	padding:10px;
	border-radius:5px;
	text-align:left;
	}
	
/*Blue Dragon Section CSS*/

#blueDragon{
		margin-bottom:20px;
		}
		
#usDroughtGif{
	margin-top:20px;
	}
	
#texas-thumbnail{
	margin:40px auto 10px auto;
	background:rgba(0,51,102,.2);
	padding:10px;
	border-radius:5px;
	width:100%;
	}
	
#texas-thumbnail img{
	width:100%;
	}
	
#texas-app{
	text-align:center;
	}
	

/*Water Usage Section CSS*/

#JrGraph h2 {
	font-size: 1em;
}

/*Before after CSS*/

#before-after-reservoir,
#hooverdam{
	margin-bottom:5px;
	}

.extraPics{
	min-height:100px;
	margin-bottom:10px;
	text-align:left;
	}
	
.extraPics img{
	width:32.5%;
	}
	
.cd-image-container {
	margin-top: 25px;
	width:100% !important;
}
	
/*Lake Mead Animated Section CSS*/

#meadSVGContainer h2 {
	color: #fff;
	margin-bottom: 30px;
	;
}

.orangeLinks{
	color:#FB7F00;
	font-weight:500;
	}

.SVGInfo {
		background: rgba(0, 51, 102, .3);
		width: auto;
		min-height: 100px;
		padding: 10px;
		margin: 0 auto;
		color: #fff;
		text-align: left;
		position: absolute;
		bottom: 10px;
		right: 10px;
		border-radius: 5px;
		line-height: 1.7em;
		display: none;
	}

@media screen and (min-width: 687px) {
	nav {
		margin-top: 1px;
		padding: 1px 5px;
		height: 28px;
	}
	/*======Container CSS======*/
	
	.container {
		padding: 50px;
	}
	#welcomeContainer,
	#mainMessage1Container,
	#mainMessage2Container,
	#mainMessage3Container,
	#mainMessage4Container,
	#mainMessage5Container,
	#mainMessage6Container,
	#mainMessage7Container,
	#endEraContainer,
	#mainmMessageDroughtContainer{
		-webkit-background-size: cover;
		background-attachment: fixed;
	}
	#welcomeContainer {
		background-image: url('../img/keynotes/welcome.jpg');
	}
	#mainMessage1Container {
		background-image: url('../img/keynotes/keynote2.jpg');
	}
	#mainMessage2Container {
		background-image: url('../img/keynotes/keynote3.jpg');
	}
	#mainMessage3Container {
		background-image: url('../img/keynotes/keynote4.jpg');
	}
	#mainmMessageDroughtContainer {
		background-image: url('../img/keynotes/drydirt.jpg');
	}
	#mainMessage4Container {
		background-image: url('../img/keynotes/keynote5.jpg');
	}
	#mainMessage5Container {
		background-image: url('../img/keynotes/keynote6.jpg');
	}
	#mainMessage6Container {
		background-image: url('../img/keynotes/keynote7.jpg');
	}
	#mainMessage7Container {
		background-image: url('../img/keynotes/keynote8.jpg');
	}
	#endEraContainer {
		background-image: url('../img/keynotes/keynote9.jpg');
	}
	/*======keynote CSS======*/
	
	.keynote {
		top: 35%;
	}
	.keynote h1,
	.keynote h2 {
		font-weight: 100;
	}
	.keynote h1 {
		font-size: 5vw;
		margin-bottom: 5px;
	}
	.keynote h2 {
		font-size: 4vw;
	}
	#keynote2 h2 {
		margin-top: 100px;
	}
	/*======Content CSS======*/
	
	.sectionContent {
		width: 90%;
		margin: 0 auto;
	}
	.spacer {
		margin-bottom: 100px;
	}
	/*Section 5 CSS*/
	#texas-thumbnail{
		width:70%;
		}
	
	/*Section 9 CSS*/
	
	#JrGraph h2 {
		font-size: 1.5em;
	}
	text {
		font-size: 1em !important;
	}
	
	/*Section 16 CSS*/
	.SVGInfo {
		width: 480px;
	}
	#meadSVGContainer object {
		margin-left: 0%;
	}
	#natural-flow-graph {
		width: 80%;
		height: 600px;
	}
}

@media screen and (min-width: 1025px) {
	/*Keynote CSS*/
	
	.keynote {
		width: 980px;
	}
	.keynote h1 {
		font-size: 2em;
	}
	.keynote h2 {
		font-size: 1.9em;
	}
	/*Section Content CSS*/
	
	.sectionContent {
		width: 900px;
	}
	.sectionContent h3 {
		font-size: 1.6em;
	}
	
	.graphCaption{
		width:900px;
		margin:0 auto;
		}
	
	/*Blue Dragon Section CSS*/
	
	#blueDragon{
		width:900px;
		margin:20px auto;
		}
		
	#texas-thumbnail{
		width:50%;
		}
		
	#natural-flow-graph{
		width:100% !important;
		margin:0 auto 20px 0;
		margin-left:-10px;
		}
	
	/*Water Usage CSS*/
	
	#JrGraph {
		width: 900px;
		margin: 0 auto;
	}
	/*before after css*/
	.extraPics img{
		width:33%;
	}
	/*Lake Mead Animated CSS*/
	
	#meadSVGContainer {
		width: 760px;
		margin: 0 auto;
	}
}
