@charset "UTF-8";
/* CSS Document */

*{padding:0; margin:0;}

a{
	text-decoration:none;
	color:#003366;
	font-weight:700;
	}
	
a:hover{
	text-decoration:underline;
	}
	
p.center{
	text-align:center;
	}

ul{list-style:none;}

h1,
h2,
h3,
h4,
h5,
h6{
	font-weight:100;
	color:#003366;}

html,
body{
	height:100%;
	font-family:Roboto, Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	color:#000;
	}