/*=====SVG CSS=====*/
.shown, .hidden {
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
}

.hidden {
    opacity:0;
}
.california, .nevada, .arizona, .mexico, .california-moved, .nevada-moved {
    -webkit-transition: 1s ease-in-out;
    -moz-transition: 1s ease-in-out;
    -o-transition: 1s ease-in-out;
    transition:  1s ease-in-out;
}


.california-moved {
    -ms-transform: translate(-40px,-20px); /* IE 9 */
    -webkit-transform: translate(-40px,-20px); /* Safari */
    transform: translate(-40px,-20px);
}

.nevada-moved {
    -ms-transform: translate(-23px,-32px); /* IE 9 */
    -webkit-transform: translate(-23px,-32px); /* Safari */
    transform: translate(-23px,-32px);
}

text {
    font-size: 1.2em;
    cursor: default;
    font-family: Roboto, Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.legend {
    font-size: 16px;
    cursor: default;
    font-family: Roboto, Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
}


.dater {
    font-size: 21px;
}

.tooltip {
    font-size: 12px;
}

.small-text {
    font-size: 12px;
    font-family: Roboto, Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.caption {
    font-size: 12px;
    font-family: Roboto, Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#water-usage-svg {
    font-size: 60%;
}

.label {
	font-size: 1em;
        cursor: default;
        font-family: Roboto, Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#x-pictogram-label {
	font-size: 1em;
}

#y-pictogram-label {
	font-size: 1em;
}