/*=====SVG CSS=====*/

text {
    font-size: 1.5em;
    cursor: default;
    font-family: Roboto, Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.legend {
    font-size: 16px;
    cursor: default;
    font-family: Roboto, Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.label {
    font-size: 16px;
    cursor: default;
    font-family: Roboto, Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
}


.dater {
    font-size: 21px;
}

.tooltip {
    font-size: 12px;
}

.small-text {
    font-size: 12px;
    font-family: Roboto, Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.caption {
    font-size: 12px;
    font-family: Roboto, Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#water-usage-svg {
    font-size: 60%;
}

.label {
	font-size: 1em;
}

#x-pictogram-label {
	font-size: 1em;
}

#y-pictogram-label {
	font-size: 1em;
}