<div class="widget">
	<div class="sectionContent">
		<p>{{{ tr.coBasinReservoir1 }}}</p>
		<p>{{{ tr.coBasinReservoir2 }}}</p>
        
        
    
    <img id="utah" src="../img/utah.svg" alt="{{{ tr.coBasinReservoir3 }}}"/>
    
    <div class="graphCaption">
		<p>{{{ tr.coBasinReservoir4 }}}</p></div>
    
    
    
		
		<button class="supportinginfo" id="section7Button">{{{ tr.suppInfo }}}</button>
		
		<div class="supportingInfoContent" id="section7Info">
			<p>  <a href="http://www.usbr.gov/lc/region/programs/crbstudy/finalreport/Study%20Report/CRBS_Study_Report_FINAL.pdf" target="_blank">{{{ tr.coBasinReservoir5 }}}</a> </p>

	</div>
	
	</div>
	
	<div class="socialMedia onWhite">
		<img src="../img/social-media/twitter-blue-01.svg" alt="twitter icon"/>
		<img src="../img/social-media/github-blue-01.svg" alt="github icon"/>
		<img id="basinReservoirLinkOut" src="../img/social-media/link-blue-01.svg" alt="link icon"/>
		<div id="basinReservoirLink" class="takeLinkBlue" >
			<input id="basinReservoirURL" type="text" value="http://go.usa.gov/#basinReservoirContainer">
		</div>
	</div>
	
</div>

<script>
  var button = $('#section7Button');

  button.click(function() {
    $('#section7Info').toggle();
  });
  
  $('#basinReservoirLinkOut').on('click', function(){
			$('#basinReservoirLink').toggle();
			$('#basinReservoirURL').select();
		});

</script>

