<div class="widget">
	
	<footer class="l-footer" role="contentinfo">
      <div class="l-region l-region--footer">
    <div id="block-panels-mini-doi-footer-branding" class="block block--panels-mini block--panels-mini-doi-footer-branding">
        <div class="block__content">
    <div class="two-column-flipped panels-container " id="mini-panel-doi_footer_branding">
  
      <div class="main two-column-flipped--main">
      <div class="panel-pane pane-page-logo">
            <a href="https://www.doi.gov" rel="external" rel="home" id="logo" title="Home"><img src="https://www.doi.gov/sites/doi.gov/themes/custom/doi_gov/logo.png" alt="Home"></a>    </div>
<div class="panel-pane pane-page-site-name">
            U.S. Department of the Interior    </div>
<div class="panel-pane pane-page-slogan">
            Protecting America's Great Outdoors and Powering Our Future    </div>
    </div>
  
      <div class="sidebar two-column-flipped--sidebar">
      <div class="panel-pane pane-block pane-menu-menu-social">
            <ul class="menu"><li class="first leaf"><a href="https://instagram.com/usinterior" rel="external" onclick="" data-hasqtip="43" oldtitle="DOI on Instagram" title="">Instagram</a></li>
<li class="leaf"><a href="https://www.facebook.com/USInterior" rel="external" onclick="" data-hasqtip="44" oldtitle="DOI on Facebook" title="">Facebook</a></li>
<li class="leaf"><a href="https://twitter.com/interior" rel="external" onclick="" data-hasqtip="45" oldtitle="DOI on Twitter" title="">Twitter</a></li>
<li class="leaf"><a href="http://americasgreatoutdoors.tumblr.com/" rel="external" onclick="" data-hasqtip="46" oldtitle="DOI on Tumblr" title="">Tumblr</a></li>
<li class="last leaf"><a href="https://www.pinterest.com/usinterior/" rel="external" onclick="" data-hasqtip="47" oldtitle="DOI on Pintrest" title="">Pintrest</a></li>
</ul>    </div>
    </div>
  
  </div>
  </div>
</div>
<div id="block-panels-mini-doi-footer-primary-links" class="block block--panels-mini block--panels-mini-doi-footer-primary-links">
        <div class="block__content">
    <div class="two-column-flipped panels-container " id="mini-panel-doi_footer_primary_links">
  
      <div class="main two-column-flipped--main">
      <div class="panel-pane pane-block pane-menu-block-1">
	  
            <div class="menu-block-wrapper menu-block-1 menu-name-main-menu parent-mlid-0 menu-level-1">
			
  <ul class="menu"><li class="first expanded menu-mlid-1822"><a href="https://www.doi.gov/whoweare" rel="external" title="">Who We Are</a>
  
  <ul class="menu"><li class="first leaf menu-mlid-1824"><a href="https://www.doi.gov/employees" rel="external" title="">Our Employees</a></li>
  
<li class="leaf menu-mlid-1825"><a href="https://www.doi.gov/bureaus" rel="external" title="">Bureaus &amp; Offices</a></li>

<li class="last leaf menu-mlid-1826"><a href="https://www.doi.gov/sally-jewell" rel="external" title="">Secretary Jewell</a></li>

</ul></li>
<li class="expanded menu-mlid-1827"><a href="https://www.doi.gov/ourpriorities" rel="external" title="">Our Priorities</a><ul class="menu"><li class="first leaf menu-mlid-1830"><a href="https://www.doi.gov/youth" rel="external" title="">Youth</a></li>
<li class="leaf menu-mlid-1831"><a href="https://www.doi.gov/climate" rel="external" title="">Climate Change</a></li>
<li class="leaf menu-mlid-1832"><a href="https://www.doi.gov/firstamericans" rel="external" title="">Native American Issues</a></li>
<li class="leaf menu-mlid-1833"><a href="https://www.doi.gov/energy" rel="external" title="">New Energy Frontier</a></li>
<li class="last leaf active menu-mlid-1834"><a href="https://www.doi.gov/water" rel="external" title="" class="active">Water Challenges</a></li>
</ul></li>
<li class="expanded active-trail menu-mlid-1828"><a href="https://www.doi.gov/whatwedo" rel="external" title="" class="active-trail">What We Do</a><ul class="menu"><li class="first leaf menu-mlid-1839"><a href="https://www.doi.gov/climate" rel="external" title="">Climate Change</a></li>
<li class="leaf menu-mlid-1840"><a href="https://www.doi.gov/cobell" rel="external" title="">Cobell / Land Buy-back</a></li>
<li class="leaf menu-mlid-1841"><a href="https://www.doi.gov/deepwaterhorizon" rel="external" title="">Deepwater Horizon</a></li>
<li class="leaf menu-mlid-1842"><a href="https://www.doi.gov/hurricanesandy" rel="external" title="">Hurricane Sandy</a></li>
<li class="leaf menu-mlid-1843"><a href="https://www.doi.gov/lwcf" rel="external" title="">Land &amp; Water Conservation Fund</a></li>
<li class="leaf menu-mlid-1845"><a href="https://www.doi.gov/energy" rel="external" title="">New Energy Frontier</a></li>
<li class="leaf menu-mlid-1844"><a href="https://www.doi.gov/firstamericans" rel="external" title="">Native American Issues</a></li>
<li class="leaf menu-mlid-1846"><a href="https://www.doi.gov/open" rel="external" title="">Open Government Initiative</a></li>
<li class="leaf active-trail active menu-mlid-1848"><a href="https://www.doi.gov/water" rel="external" title="" class="active-trail active">Water Challenges</a></li>
<li class="last leaf menu-mlid-1849"><a href="https://www.doi.gov/youth" rel="external" title="">Youth</a></li>
</ul></li>
<li class="last expanded menu-mlid-1829"><a href="https://www.doi.gov/joinus" rel="external" title="">Join Us</a><ul class="menu"><li class="first leaf menu-mlid-1835"><a href="https://www.doi.gov/youth" rel="external" title="">Youth Initiative</a></li>
<li class="leaf menu-mlid-1836"><a href="https://www.doi.gov/businesses" rel="external" title="">Businesses</a></li>
<li class="leaf menu-mlid-1837"><a href="https://www.doi.gov/pathways" rel="external" title="">Pathways Program</a></li>
<li class="last leaf menu-mlid-1838"><a href="https://www.doi.gov/veterans" rel="external" title="">Veterans Employment Program</a></li>
</ul></li>
</ul></div>
    </div>
    </div>
  
      <div class="sidebar two-column-flipped--sidebar">
      <div class="panel-pane pane-custom pane-2">
            <p><a href="https://www.healthcare.gov" rel="external"><img alt="Health Insurance Marketplace" src="../img/doifooter/sample-ad.jpg" style="width: 180px; height: 150px;"></a></p>
    </div>
    </div>
  
  </div>
  </div>
</div>
<div id="block-panels-mini-doi-footer-supporting-links" class="block block--panels-mini block--panels-mini-doi-footer-supporting-links">
        <div class="block__content">
    <div class="one-column panels-container" id="mini-panel-doi_footer_supporting_links">
      <div class="top one-column--top">
      <div class="panel-pane pane-block pane-menu-menu-secondary">
            <ul class="menu"><li class="first leaf"><a href="https://www.doi.gov/foia" rel="external" title="">FOIA</a></li>
<li class="leaf"><a href="https://www.doi.gov/open" rel="external" title="">Open Government</a></li>
<li class="leaf"><a href="https://www.doi.gov/scientificintegrity" rel="external" title="">Integrity of Scientific &amp; Scholarly Activities</a></li>
<li class="leaf"><a href="http://www.usa.gov" rel="external" title="">USA.gov</a></li>
<li class="leaf"><a href="https://business.usa.gov/" rel="external" title="">BusinessUSA</a></li>
<li class="leaf"><a href="http://www.whitehouse.gov" rel="external" title="">White House</a></li>
<li class="leaf"><a href="https://www.doi.gov/pmb/eeo/no-fear-act" rel="external" title="">No FEAR Act</a></li>
<li class="leaf"><a href="http://www.doioig.gov" rel="external" title="">Inspector General</a></li>
<li class="leaf"><a href="https://www.doi.gov/pfm/afr" rel="external" title="">Agency Financial Report</a></li>
<li class="leaf"><a href="https://www.doi.gov/bpp" rel="external" title="">Budget &amp; Performance</a></li>
<li class="last leaf"><a href="http://www.bia.gov/WhoWeAre/BIA/OIS/TribalGovernmentServices/TribalDirectory/index.htm" rel="external" title="">Tribal Leaders Directory</a></li>
</ul>    </div>
    </div>
  
      <div class="main one-column--main">
      <div class="panel-pane pane-block pane-menu-menu-tertiary">
            <ul class="menu"><li class="first leaf"><a href="/" rel="external" title="">DOI Home</a></li>
<li class="leaf"><a href="https://www.doi.gov/public/findajob" rel="external" title="">Find a Job</a></li>
<li class="leaf"><a href="https://www.doi.gov/public/contact-us" rel="external" title="">Contact Us</a></li>
<li class="leaf"><a href="https://www.doi.gov/privacy" rel="external" title="">Privacy Policy</a></li>
<li class="leaf"><a href="https://www.doi.gov/disclaimer" rel="external" title="">Disclaimer</a></li>
<li class="leaf"><a href="https://www.doi.gov/notices" rel="external" title="">Notices</a></li>
<li class="leaf"><a href="https://www.doi.gov/accessibility" rel="external" title="">Accessibility</a></li>
<li class="leaf"><a href="https://www.doi.gov/copyright" rel="external" title="">Copyright</a></li>
<li class="leaf"><a href="https://www.doi.gov/sites/doi.gov/files/migrated/notices/upload/Social-Media-Guidebook-Official.pdf" rel="external" title="">Social Media Guidebook</a></li>
<li class="last leaf"><a href="https://www.doi.gov/sitemap" rel="external" title="">Site Map</a></li>
</ul>    </div>
    </div>
  
  </div>
  </div>
</div>
<div id="block-panels-mini-doi-footer-information" class="block block--panels-mini block--panels-mini-doi-footer-information">
        <div class="block__content">
    <div class="two-column-flipped panels-container no-sidebar" id="mini-panel-doi_footer_information">
  
      <div class="main two-column-flipped--main">
      <div class="panel-pane pane-custom pane-3">
            <p>U.S. Department of the Interior, 1849 C Street NW, Washington, DC 20240. <a href="mailto:feedback@ios.doi.gov?subject=DOI.gov%20Feedback" rel="external">feedback@ios.doi.gov</a></p>
    </div>
    </div>
  
  
  </div>
  </div>
</div>
  </div>
  </footer>
	
</div>


