<div class="widget">
	<div class="sectionContent">
		<p>{{{ tr.dygraphsSection1 }}}</p>


   	 	<p>{{{ tr.dygraphsSection7 }}}</p>

	   
	   	<a href="http://droughtmonitor.unl.edu/" target="_blank">
        	<img id="usDroughtGif" src="../img/usdrought.gif?version={{ version }}" alt="{{{ tr.dygraphsSection6 }}}"/>
		</a>



<div class="graphCaption">
<p>{{{ tr.dygraphsSection5 }}}</p></div>


		<div class="exploreMore" id="usdroughtgifexplore">
			<a href="http://livingatlas.arcgis.com/drought" target="_blank">
				<img src="../img/usdroughtthumbnail.jpg?version={{ version }}" alt="US Drought in the Colorado River Basin Explore More"/>
			</a>
			<p>{{{ tr.dygraphsSection1a }}}</p>
			<a href="http://livingatlas.arcgis.com/drought" target="_blank"><button id="
			usdroughtgifexploreButton" class="extraButton">{{{ tr.explore }}}</button></a>
	</div>


		<button class="supportinginfo" id="section6Button">{{{ tr.suppInfo }}}</button>
		
		<div class="supportingInfoContent" id="section6Info">
            <p>{{{ tr.dygraphsSection2 }}}</p>
            
            <p>{{{ tr.dygraphsSection3 }}}</p>
            
            <p>{{{ tr.dygraphsSection4 }}}</p>

    	</div>
        
	</div>
	
	<div class="socialMedia onWhite">
		{{> twitter}}
		{{> github}}
		<img id="droughtMonitorLinkOut" src="../img/social-media/link-blue-01.svg" alt="link icon"/>
		<div id="droughtMonitorLink" class="takeLinkBlue" >
			<input id="droughtMonitorURL" title="Link to Drought Monitor Section" type="text" value="http://doi.gov/water/owdi.cr.drought/en/index.html#droughtContainer">
		</div>
	</div>
	
</div>

<script>
    var button = $('#section6Button');
    
    button.click(function() {
        $('#section6Info').toggle();
    });
				 
	$('#droughtMonitorLinkOut').on('click', function(){
			$('#droughtMonitorLink').toggle();
			$('#droughtMonitorURL').select();
		});

    </script>

