<div class="widget">
	<div id="keynote9" class="keynote">
    	<div id="pin9" class="pin">
        	<h2>{{{ tr.endEra }}}</h2>
        </div>
    </div>
	
</div>

<script>

	$('#endEraLinkOut').on('click', function(){
		$('#endEraLink').toggle();
		$('#endEraURL').select();
		});

</script>
