<!DOCTYPE html>
<html lang="{{ lang }}">

    <head>
        <meta charset="utf-8" />
        
        <!-- ############### VIEWPORT META TAG ############### -->
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1,   user-scalable=no" />

        <!-- RDFa Tags - http://ogp.me/ -->
        <meta property="og:title" content="" />
        <meta property="og:type" content="website" />
        <meta property="og:url" content="" />
        <meta property="og:image" content="" />
        <meta property="og:image:url" content="" />
        <meta property="og:image:height" content="" />
        <meta property="og:image:width" content="" />
        <meta property="og:image:type" content="" />
        <meta property="og:description" content="" />
        <meta property="og:locale" content="{{ locale }}" />

        <title>{{ tr.siteTitle }}</title>
        <link rel="icon" href="../img/usgs.ico" type="image/x-icon" />
        <link href="../css/overlay.css" rel="stylesheet" type="text/css">
        <link href="../css/main.css" rel="stylesheet" type="text/css">
        <link href="../css/normalize.css" rel="stylesheet" type="text/css">
		<link href="../css/svg.css" rel="stylesheet" type="text/css">
        <link href="../css/print.css" rel="stylesheet" type="text/css">
        <link href="../css/before-after.css" rel="stylesheet" type="text/css">
        <link href="../css/dygraph.css" rel="stylesheet" type="text/css">
        <link href="//fonts.googleapis.com/css?family=Roboto:400,500,700,100,300" rel="stylesheet" type="text/css">
		
		<script>
		  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
		
		  ga('create', 'UA-66155743-1', 'auto');
		  ga('send', 'pageview');

		</script>
      <script type="text/javascript" src="//code.jquery.com/jquery-latest.min.js"></script>
      <script type="text/javascript" src="//code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
      <script type="text/javascript" src="../js/init.js"></script>
    </head>

    <body>
        <!-- BEGIN Overlay -->
        <!-- Overlay span - This span is removed once it's faded out -->
        <span id="overlay">
            <div id="overlay-content-wrap">
                {{ tr.welcomeText }}
                <div id="overlay-spinner">
                    <img id="overlay-spinner-image" src="../img/spinner/spinner.gif" alt="[Loading Spinner]" />
                </div>
            </div>
        </span>
        <!-- END Overlay -->

        <!-- Main content -->
        <span id="application">
		
		<div id="stickynavContainer" class="menu container">
		<section id="stickynav" class="section">
		{{> stickynav }}
		</section>
            </div>
		
            <div id="Introduction" class="container">
                <section id="welcome" class="section">
		{{> welcome }}
		</section>
            </div>
	    <div id="app-explanationContainer" class="container">
                <section id="app-explanation" class="section">
		{{> app-explanation }}
		</section>
            </div>
	    <div id="Lifeline" class="container">
                <section id="mainmessage1" class="section">
		{{> mainmessage1 }}
		</section>
            </div>
            <div id="lifeLineContainer" class="container">
                <section id="co-river-lifeline" class="section">
		{{> co-river-lifeline }}
		</section>
            </div>
	    <div id="OneRiver" class="container">
                <section id="mainmessage5" class="section">
		{{> mainmessage5 }}
		</section>
            </div>
            <div id="basinDividedContainer" class="container">
                <section id="basin-divided" class="section">
		{{> basin-divided }}
		</section>
            </div>
	    <div id="ControlStructures" class="container">
                <section id="mainmessage2" class="section">
		{{> mainmessage2 }}
		</section>
            </div>
            <div id="blueDragonContainer" class="container">
                <section id="blue-dragon" class="section">
		{{> blue-dragon }}
		</section>
            </div>
	    <div id="WaterSupply" class="container">
                <section id="waterSupplyVariableOverTime" class="section">
		{{> waterSupplyVariableOverTime }}
		</section>
            </div>
	    <div id="waterSupplyVariableContentContainer" class="container">
                <section id="waterSupplyVariableContent" class="section">
		{{> waterSupplyVariableContent }}
		</section>
            </div>
		<div id="ExtendedDrought" class="container">
                <section id="mainmessagedirt" class="section">
		{{> mainmessagedirt }}
		</section>
            </div>
	    <div id="droughtContainer" class="container">
                <section id="dygraphsection" class="section">
		{{> dygraphsection }}
		</section>
            </div>
            <div id="StorageCapacity" class="container">
                <section id="mainmessage3" class="section">
		{{> mainmessage3 }}
		</section>
            </div>
            <div id="basinReservoirContainer" class="container">
                <section id="co-basin-reservoir" class="section">
		{{> co-basin-reservoir }}
		</section>
            </div>
            <div id="SupplyDemand" class="container">
                <section id="mainmessage4" class="section">
		{{> mainmessage4 }}
		</section>
            </div>
            <div id="waterUsageContainer" class="container">
                <section id="water-usage" class="section">
		{{> water-usage }}
		</section>
            </div>
            <div id="DecliningStorage" class="container">
                <section id="mainmessage6" class="section">
		{{> mainmessage6 }}
		</section>
            </div>
            <div id="beforeAfterContainer" class="container">
                <section id="before-after" class="section">
		{{> before-after }}
		</section>
            </div>
            <div id="Shortage" class="container">
                <section id="mainmessage7" class="section">
		{{> mainmessage7 }}
		</section>
            </div>
            <div id="meadStaticContainer" class="container">
                <section id="lake-mead-static" class="section">
		{{> lake-mead-static }}
		</section>
            </div>
            <div id="meadAnimatedContainer" class="container">
                <section id="lake-mead-animated" class="section">
		{{> lake-mead-animated }}
		</section>
            </div>
	    <div id="EraOfHope" class="container">
                <section id="end-era" class="section">
		{{> end-era }}
		</section>
            </div>
	    <div id="creditsContainer" class="container">
                <section id="credits" class="section">
		{{> credits }}
		</section>
            </div>

        </span>

        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/gsap/1.14.2/TweenMax.min.js"></script>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/ScrollMagic.min.js"></script>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
        <script type="text/javascript" src="../js/before-after.js"></script>
        <script type="text/javascript" src="../js/stickynav.js"></script>
		
    </body>

</html>
