<div class="widget">

	<div id="keynote4" class="keynote">

        	<h2>{{{ tr.mainMessage3 }}}</h2>
        	

    </div>
	
</div>

<script>

	$('#storageCapacityLinkOut').on('click', function(){
		$('#storageCapacityLink').toggle();
		$('#storageCapacityURL').select();
		});

</script>
