<div class="widget">

	<div id="keynote6" class="keynote">
    	<div id="pin6" class="pin">
        	<h2>{{{ tr.mainMessage5 }}}</h2>
    	</div>
	</div>
	
	<div class="socialMedia">
		<img src="../img/social-media/twitter-whie-01.svg" alt="twitter icon"/>
		<img src="../img/social-media/github-white-01.svg" alt="github icon"/>
		<img id="OneRiverLinkOut" src="../img/social-media/link-white-01.svg" alt="link icon"/>
		<div id="OneRiverLink" class="takeLink" >
			<input id="OneRiverURL" type="text" value="http://go.usa.gov/#OneRiver">
		</div>
	</div>
    
</div>

<script>

	$('#OneRiverLinkOut').on('click', function(){
		$('#OneRiverLink').toggle();
		$('#OneRiverURL').select();
		});

</script>
