<div class="widget">

	<div id="keynote7" class="keynote">
    	<div id="pin7" class="pin">
        	<h2>{{{ tr.mainMessage6 }}}</h2>
			
    	</div>
	</div>

</div>

<script>

	$('#decliningStorageLinkOut').on('click', function(){
		$('#decliningStorageLink').toggle();
		$('#decliningStorageURL').select();
		});

</script>
