<div class="widget">

	<div id="keynote6" class="keynote">
    	<div id="pin6" class="pin">
        	<h2>{{{ tr.mainMessage5 }}}</h2>
    	</div>
	</div>
    
</div>

<script>

	$('#OneRiverLinkOut').on('click', function(){
		$('#OneRiverLink').toggle();
		$('#OneRiverURL').select();
		});

</script>
