<div class="widget">
	<div id="keynote8" class="keynote">
    	<div id="pin8" class="pin">
        	<h2>{{{ tr.mainMessage7 }}}</h2>
        </div>
    </div> 
	
</div>

<script>

	$('#shortageLinkOut').on('click', function(){
		$('#shortageLink').toggle();
		$('#shortageURL').select();
		});

</script>
