<div class="widget">

	<div id="keynote5" class="keynote">
    	<div id="pin5" class="pin">
        	<h2>{{{ tr.mainMessage4 }}}</h2>
    	</div>
	</div>
    
</div>

<script>

	$('#supplyDemandLinkOut').on('click', function(){
		$('#supplyDemandLink').toggle();
		$('#supplyDemandURL').select();
		});

</script>
   
    
	
