<div class="widget">
	<div id="keynote8" class="keynote">
    	<div id="pin8" class="pin">
        	<h2>The possibility of a shortage condition in the Lower Basin may result in reduced water deliveries.</h2>
        </div>
    </div> 
	
	<div class="socialMedia">
		<img src="../img/social-media/twitter-whie-01.svg" alt="twitter icon"/>
		<img src="../img/social-media/github-white-01.svg" alt="github icon"/>
		<img id="shortageLinkOut" src="../img/social-media/link-white-01.svg" alt="link icon"/>
		<div id="shortageLink" class="takeLink" >
			<input id="shortageURL" type="text" value="http://go.usa.gov/#Shortage">
		</div>
	</div>
	
</div>

<script>

	$('#shortageLinkOut').on('click', function(){
		$('#shortageLink').toggle();
		$('#shortageURL').select();
		});

</script>
