<div class="widget">
	<div id="keynotedirt" class="keynote">
    	<div id="pindirt" class="pin">
        	<h2>{{{ tr.mainMessageDirt }}}</h2>
        </div>
    </div>
	
</div>

<script>

	$('#ExtendedDroughtLinkOut').on('click', function(){
		$('#ExtendedDroughtLink').toggle();
		$('#ExtendedDroughtURL').select();
		});

</script>
