<div class="widget">
	<div id="keynote2" class="keynote">
    	<div id="pin2" class="pin">
        	<h2>{{{ tr.mainMessage1 }}}</h2>
        </div>
    </div>
	
</div>

<script>

	$('#lifeLineLinkOut').on('click', function(){
		$('#lifeLineLink').toggle();
		$('#lifeLineURL').select();
		});

</script>


