<div class="widget">

	<div id="keynote4" class="keynote">

        	<h2>{{{ tr.mainMessage3 }}}</h2>
        	

    </div>
	
	<div class="socialMedia">
		<img src="../img/social-media/twitter-whie-01.svg" alt="twitter icon"/>
		<img src="../img/social-media/github-white-01.svg" alt="github icon"/>
		<img id="storageCapacityLinkOut" src="../img/social-media/link-white-01.svg" alt="link icon"/>
		<div id="storageCapacityLink" class="takeLink" >
			<input id="storageCapacityURL" type="text" value="http://go.usa.gov/#StorageCapacity">
		</div>
	</div>
    
	
</div>

<script>

	$('#storageCapacityLinkOut').on('click', function(){
		$('#storageCapacityLink').toggle();
		$('#storageCapacityURL').select();
		});

</script>
