<div class="widget">

	<div id="keynote3" class="keynote">
    	<div id="pin3" class="pin">
        	<h2>{{{ tr.mainMessage2 }}}</h2>
        </div>
    </div>

</div>

<script>

	$('#controlStructuresLinkOut').on('click', function(){
		$('#controlStructuresLink').toggle();
		$('#controlStructuresURL').select();
		});

</script>


