<div class="widget">
	
	<div class="navBox">
		<a id="welcomeLink" href="javascript:void(0);" onclick="owdiDrought.nav('#Introduction')" class="navLink">1</a>
		<div class="navToolTip">{{{ tr.stickyNav1 }}}</div>
	</div>
	
	<div class="navBox">
		<a id="lifelineLink" href="javascript:void(0);" onclick="owdiDrought.nav('#Lifeline')" class="navLink">2</a>
		<div class="navToolTip">{{{ tr.stickyNav2 }}}</div>
	</div>
	
	<div class="navBox">
		<a id="oneRiverLink" href="javascript:void(0);" onclick="owdiDrought.nav('#OneRiver')" class="navLink">3</a>
		<div class="navToolTip">{{{ tr.stickyNav3 }}}</div>
	</div>
	
	<div class="navBox">
		<a id="controlLink" href="javascript:void(0);" onclick="owdiDrought.nav('#ControlStructures')" class="navLink">4</a>
		<div class="navToolTip">{{{ tr.stickyNav4 }}}</div>
	</div>
	
	<div class="navBox">
		<a id="waterSupplyLink" href="javascript:void(0);" onclick="owdiDrought.nav('#WaterSupply')" class="navLink">5</a>
		<div class="navToolTip">{{{ tr.stickyNav6 }}}</div>
	</div>
	
	<div class="navBox">
		<a id="extendedDroughtLink" href="javascript:void(0);" onclick="owdiDrought.nav('#ExtendedDrought')" class="navLink">6</a>
		<div class="navToolTip">{{{ tr.stickyNav5 }}}</div>
	</div>
	
	<div class="navBox">
		<a id="storageCapacityLink" href="javascript:void(0);" onclick="owdiDrought.nav('#StorageCapacity')" class="navLink">7</a>
		<div class="navToolTip">{{{ tr.stickyNav7 }}}</div>
	</div>
	
	<div class="navBox">
		<a id="supplyDemandLink" href="javascript:void(0);" onclick="owdiDrought.nav('#SupplyDemand')" class="navLink">8</a>
		<div class="navToolTip">{{{ tr.stickyNav8 }}}</div>
	</div>
	
	<div class="navBox">
		<a id="decliningStorageLink" href="javascript:void(0);" onclick="owdiDrought.nav('#DecliningStorage')" class="navLink">9</a>
		<div class="navToolTip">{{{ tr.stickyNav9 }}}</div>
	</div>
	
	<div class="navBox">
		<a id="shortageLink" href="javascript:void(0);" onclick="owdiDrought.nav('#Shortage')" class="navLink">10</a>
		<div class="navToolTip">{{{ tr.stickyNav10 }}}</div>
	</div>
	
	<div class="navBox">
		<a id="eraLink" href="javascript:void(0);" onclick="owdiDrought.nav('#EraOfHope')" class="navLink">11</a>
		<div class="navToolTip">{{{ tr.stickyNav11 }}}</div>
	</div>
	
</div>


