<div class="widget">
	
	<div class="navBox">
		<a href="javascript:void(0);" onclick="owdiDrought.nav('Introduction')" class="navLink">1</a>
		<div class="toolTip">Introduction</div>
	</div>
	
	<div class="navBox">
		<a href="javascript:void(0);" onclick="owdiDrought.nav('Lifeline')" class="navLink">2</a>
		<div class="toolTip">Lifeline</div>
	</div>
	
	<div class="navBox">
		<a href="javascript:void(0);" onclick="owdiDrought.nav('OneRiver')" class="navLink">3</a>
		<div class="toolTip">One river</div>
	</div>
	
	<div class="navBox">
		<a href="javascript:void(0);" onclick="owdiDrought.nav('ControlStructures')" class="navLink">4</a>
		<div class="toolTip">Control structures</div>
	</div>
	
	<div class="navBox">
		<a href="javascript:void(0);" onclick="owdiDrought.nav('ExtendedDrought')" class="navLink">5</a>
		<div class="toolTip">Extended drought</div>
	</div>
	
	<div class="navBox">
		<a href="javascript:void(0);" onclick="owdiDrought.nav('WaterSupply')" class="navLink">6</a>
		<div class="toolTip">Water supply</div>
	</div>
	
	<div class="navBox">
		<a href="javascript:void(0);" onclick="owdiDrought.nav('StorageCapacity')" class="navLink">7</a>
		<div class="toolTip">Storage capacity</div>
	</div>
	
	<div class="navBox">
		<a href="javascript:void(0);" onclick="owdiDrought.nav('SupplyDemand')" class="navLink">8</a>
		<div class="toolTip">Supply &amp; demand</div>
	</div>
	
	<div class="navBox">
		<a href="javascript:void(0);" onclick="owdiDrought.nav('DecliningStorage')" class="navLink">9</a>
		<div class="toolTip">Declining storage</div>
	</div>
	
	<div class="navBox">
		<a href="javascript:void(0);" onclick="owdiDrought.nav('Shortage')" class="navLink">10</a>
		<div class="toolTip">Shortage</div>
	</div>
	
	<div class="navBox">
		<a href="javascript:void(0);" onclick="owdiDrought.nav('EraOfHope')" class="navLink">11</a>
		<div class="toolTip">Era of hope</div>
	</div>
	
</div>

