
	<a class="twitter-share-button" href="https://twitter.com/intent/tweet?text={{tr.twitterText}}&hashtags=crdrought,owdi%20https:%2F%2Fwww.doi.gov%2Fwater%2Fowdi.cr.drought%2Fen%2Findex.html" target="_blank">
			<img src="../img/social-media/twitter-blue-01.svg" alt="twitter icon"/>
		</a>
