<div class="widget">
  <div class="sectionContent">
      <p>Since the early 1900s, water demand in the Colorado River Basin has increased while water supply has, on average, decreased. For the 15-year period preceding the signing of the <a href="http://www.usbr.gov/lc/region/g1000/pdfiles/crcompct.pdf" target="_blank">1922 Colorado River Compact</a>, when 7.5 maf was apportioned to both the Upper and Lower Basins, the average annual natural flow in the Upper Basin was about 18.0 maf. When the 1944 U.S.-Mexico Water Treaty was executed, the long-term average annual natural flow in the Upper Basin was about 16.3 maf. The current long-term average annual natural flow in the Upper Basin is about 14.8 maf (Bureau of Reclamation, 2015).</p>
      
	  <div id="waterUsageHiddenContent" class="hiddenContent">
      <p>While the average annual natural flow has decreased since the early 1900s, the balance between water supply and water demand in the Colorado River system has been operating on increasingly close margins. As a result of this decrease in natural flows and an increase in water depletions basin-wide, it now appears that the Colorado River system is over-allocated (Bureau of Reclamation, 2012).</p>
      
      <p>Climate projections indicate more extreme conditions are possible, with longer, more severe wet and dry periods. Cooperation and collaboration is key to finding sustainable solutions and addressing current and future challenges.</p>
	  </div>
      

    <p id="waterUsageReadMore" class="readMore">Read More >></p>


  <div id="JrGraph">
    <object id="animated-object" class="triggerMe" data="../img/water-usage/flow_animation-desktop-en.svg" type="image/svg+xml"></object>
	
	<object id="animated-object-mobile" class="triggerMe" data="../img/water-usage/flow_animation-mobile-en.svg" type="image/svg+xml"></object>

    <div class="graphCaption">
      <p>Trends in water supply and water use in the Colorado River Basin are shown above. When water use exceeds the water supply in a given year, water stored is reduced. During the past 20 years, average water supply and average water use have been about equal. Under these conditions, reservoirs are replenished much more slowly. Water supply and water use data in the graphic above are estimated by Reclamation using water accounting information, USGS <a href="http://waterdata.usgs.gov/nwis/wys_rpt/?site_no=09380000&agency_cd=USGS" target="_blank">stream gage data</a>, and other sources. </p>
      
      <p>In this graphic, water use is equal to “consumptive use” (surface water diversions and groundwater pumping minus measured and unmeasured return flows) as estimated by Reclamation in its <a href=" http://www.usbr.gov/lc/region/g4000/wtracct.html" target="_blank">annual water accounting reports</a>. Other methods of estimating water use that account for withdrawals of surface and groundwater, and incorporate water that is used and returned to the stream, are made by the USGS.
      </p>
      
    </div>
    
    <button class="supportinginfo spacer" id="section10Button">Supporting Info</button>
    <div class="supportingInfoContent" id="section10Info">
        
        
        <p>Bureau of Reclamation. 2012. <a href="http://www.usbr.gov/lc/region/programs/crbstudy/finalreport/index.html" target="_blank">Colorado River Basin Water Supply and Demand Study</a>.
        </p>
        
        <p>Discover current reservoir conditions in the <a href="http://www.usbr.gov/uc/wcao/water/basin/tc_cr.html" target="_blank">Upper Basin</a> and <a href="http://www.usbr.gov/lc/region/g4000/hourly/hourly.html" target="_blank">Lower Basin</a>.
        </p>
        
    </div>
    
    
  </div>
		
	</div>
	
	<div class="socialMedia onWhite">
		<img src="../img/social-media/twitter-blue-01.svg" alt="twitter icon"/>
		<img src="../img/social-media/github-blue-01.svg" alt="github icon"/>
		<img  id="waterUsageLinkOut" src="../img/social-media/link-blue-01.svg" alt="link icon"/>
		<div id="waterUsageLink" class="takeLinkBlue" >
			<input id="waterUsageURL" type="text" value="http://go.usa.gov/#waterUsageContainer">
		</div>
	</div>
	
</div>
<script>
	var waterUsageReadMore = $('#waterUsageReadMore');
	var waterUsageHiddenContent = $('#waterUsageHiddenContent');
	
	waterUsageReadMore.on('click', function(){
		
		waterUsageHiddenContent.toggle();
		
		if($(this).text() == 'Read More >>'){
			$(this).text('Hide Text');
			}else{
				$(this).text('Read More >>');
				}
		});	
		
		$('#waterUsageLinkOut').on('click', function(){
			$('#waterUsageLink').toggle();
			$('#waterUsageURL').select();
		});
</script>

