<div class="widget">

	<div id="waterVariable" class="keynote">
    	<div id="pin8" class="pin">
        	<h2>{{{ tr.waterSupplyVariableOverTime }}}</h2>
    	</div>
	</div>
    
</div>

<script>

	$('#waterSupplyLinkOut').on('click', function(){
		$('#waterSupplyLink').toggle();
		$('#waterSupplyURL').select();
		});

</script>
