<div class="widget">

	<div id="waterVariable" class="keynote">
    	<div id="pin8" class="pin">
        	<h2>{{{ tr.waterSupplyVariableOverTime }}}</h2>
    	</div>
	</div>
	
	<div class="socialMedia">
		<img src="../img/social-media/twitter-whie-01.svg" alt="twitter icon"/>
		<img src="../img/social-media/github-white-01.svg" alt="github icon"/>
		<img  id="waterSupplyLinkOut" src="../img/social-media/link-white-01.svg" alt="link icon"/>
		<div id="waterSupplyLink" class="takeLink" >
			<input id="waterSupplyURL" type="text" value="http://go.usa.gov/#WaterSupply">
		</div>
	</div>
    
</div>

<script>

	$('#waterSupplyLinkOut').on('click', function(){
		$('#waterSupplyLink').toggle();
		$('#waterSupplyURL').select();
		});

</script>
