<div class="widget">
	<div id="keynote1" class="keynote">
    	<div id="pin1" class="pin">
        	<h1>{{ tr.welcomeTitle }}</h1>
            <h2 id="emphasized">{{ tr.welcomeSub }}</h2>
			
			<a href="javascript:void(0)" onclick="window.scrollBy(0, 300);">
				<img title="{{ tr.scroll }}" id="scrollDownArrow" src="../img/herdingarrow.png" alt="scroll down arrow"/>
			</a>
        </div>
    </div>
	
	<div class="socialMedia" id="welcomeSocial">
		<img src="../img/social-media/twitter-whie-01.svg" alt="twitter icon"/>
		<img src="../img/social-media/github-white-01.svg" alt="github icon"/>
		<img id="welcomeLinkOut" src="../img/social-media/link-white-01.svg" alt="link icon"/>
		<div id="welcomeLink" class="takeLink" >
			<input id="welcomeURL" type="text" value="http://go.usa.gov/#Introduction">
		</div>
	</div>
	
</div>

<script>

	$('#welcomeLinkOut').on('click', function(){
		$('#welcomeLink').toggle();
		$('#welcomeURL').select();
		});


</script>

