/*
------------------------------------------
css for slides story map (for story_slides.js)
------------------------------------------
*/

#slides_container * {
    padding: 0px;
    margin: 0px;
}

/*
------------------------------------------
slides panel: show-hide toggle arrow at top
------------------------------------------
*/
#toggleSlides {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 18px;
    height: 18px;
    margin-top: 3px;
    background-image: url("../img/toggle.png");
    border: 1px solid #bbb;
    border-radius: 5px;
    transition: all .2s;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    cursor: pointer;
}
#toggleSlides.minimized {
    background-color: #fff;
    background-color: rgba(255,255,255,0.7);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
}

/*
------------------------------------------
slides panel: naviation dots at top
------------------------------------------
*/
#progress {
    margin: 0 0 10px 10px;
}
#progress li {
    display: inline;
}
#progress li a {
    opacity: 0.2;
    color: #333;
}
#progress li a:before {
    content: ' \25CF';
    font-size: 20px;
}
#progress li a.active {
    opacity: 1;
}
#progress li a:hover {
    opacity: 1;
    cursor: pointer;
    text-decoration: none;
}

/*
------------------------------------------
slides panel: container and content
------------------------------------------
*/
#slides_container {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 500px;
    height: auto;
    padding: 10px;
    padding-left: 20px;
    background-color: #fff;
    background-color: rgba(255,255,255,0.7);
    border-radius: 10px;
    -webkit-box-shadow: 10px 10px 5px rgba(0,0,0,0.2);
    -moz-box-shadow: 10px 10px 5px rgba(0,0,0,0.2);
    box-shadow: 10px 10px 5px rgba(0,0,0,0.2);
    z-index: 10;
}
#slides_container .slide {
    display: none;
    overflow-y: auto;
    padding-right: 15px;
}
#slides_container .slide.selected {
    display: block !important;
}
#slides_container h1, #slides_container h2, #slides_container h3, #slides_container h4, #slides_container h5, #slides_container h6 {
    font-family: "Arial Narrow", Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: #555;
    margin: 0 0 5px 0;
}
#slides_container h2 {
    font-size: 15px;
}
#slides_container h3 {
    font-size: 13px;
}
#slides_container h4 {
    font-size: 13px;
}
#slides_container h5 {
    font-size: 13px;
}
#slides_container h6 {
    font-size: 13px;
}
#slides_container p, #slides_container span {
    font-family: "Times New Roman", Times, serif;
    font-size: 14px;
    line-height: 18px;
    color: #333;
    text-align: justify;
    margin: 0 0 10px 0;
}
#slides_container ul {
    list-style: square;
    padding-left: 15px; 
}
#slides_container a {
    color: #FF7373;
    text-decoration: none;
}
#slides_container a:hover {
    text-decoration: underline;
}
#slides_container img {
    margin: 5px 0;
    max-width: 100%
}

/*
------------------------------------------
slides panel: naviation buttons at bottom
------------------------------------------
*/
ul#navigation {
    margin: 10px 0 0 0;
}
ul#navigation li {
    width: 30px;
    display: inline;
}
ul#navigation li a {
    display: inline-block;
    width: 10px;
    height: 17px;
    margin-right: 10px;
    opacity: 0.3;
    cursor: pointer;
}
ul#navigation li a.prev {
    background: transparent url('../img/navButtonPrev.png') no-repeat;
}
ul#navigation li a.next {
    background: transparent url('../img/navButtonNext.png') no-repeat;
}
ul#navigation li a.prev:hover,
ul#navigation li a.next:hover {
    background-position: 0px 0px;
    opacity: 1;
}

/*
------------------------------------------
END
------------------------------------------
*/
