@charset "utf-8";
/*
====================================================
Blue Dragon Story Map custom CSS
====================================================
*/

/* storymap container */
#storymap_container {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    border: 1px solid black;
    overflow: hidden;
    
    /* gets shown after loaded & ready */
    visibility: hidden;
}

/* put map layers menu above everything */
#storymap_container .leaflet-top.leaflet-right {
    z-index: 9999;
}

/* make slides panel narrower than default */
#slides_container {
    width: 400px !important;
}

/*
----------------------------------------------------
info windows !!! MAKE LOOK NICER
----------------------------------------------------
*/

#storymap_container .popup-container {
    max-width: 410px;
}
#storymap_container .popup-table {
    width: 400px;
}
#storymap_container .popup-table td {
    border: 1px solid #AAA;
    padding: 2px;
}
#storymap_container .popup-table td:nth-child(1) {
    width: 40%;
    text-align: right;
    color: #777;
}
#storymap_container .popup-table td:nth-child(2) {
    width: 60%;
    text-align: left;
    color: #000;
    font-weight: bold;
}

/*
====================================================
END
====================================================
*/


