/*
------------------------------------------
css for txwsc-leaflet-utils
------------------------------------------
*/

/* class to add to elements to make them un-selectable (mouse drag does not highlight text) */
.click-drag-unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* class to add to elements to make them selectable (mouse drag highlights text) */
.click-drag-selectable {
    -webkit-touch-callout: text;
    -webkit-user-select: text;
    -moz-user-select: text;
    -khtml-user-select: text;
    -ms-user-select: text;
    user-select: text;
}

/*
------------------------------------------
leaflet control: scale bar [ U.addScale() ]
------------------------------------------
*/
.leaflet-control-scale {
    background: none;
}

/*
------------------------------------------
leaflet control: mouse coordinates [ U.addMouseCoords() ]
------------------------------------------
*/
/* do all animations using jQuery - mixing JQ & css does not work */
.leaflet-control-coordinates .uiElement {
    font-size: 11px;
    font-weight: normal;
    color: black;
}
.leaflet-control-coordinates.leaflet-control.highlight {
    background: LightYellow;
}
.leaflet-control-coordinates input {
    font-size: 12px;
}

/*
------------------------------------------
leaflet control: logos [ U.addLogos() ]
------------------------------------------
*/
.leaflet-control-logos {
    background: none;
}
.leaflet-control-logos-img-container {
    float: left;
    border-radius: 10px;
    -moz-border-radius: 10px;
    padding: 5px;
    margin-left: 5px;
    background-color: rgba(255,255,255,0.3);
}
.leaflet-control-logos-img-container:hover {
    background-color: rgba(255,255,180,0.5);
}
.leaflet-control-logos img {
    background: none;
    border: none;
}

/*
------------------------------------------
leaflet control: map layer picker [ U.addMapLayersPicker() ]
------------------------------------------
*/
.picker-button {
    /* background: #eee url("img/leaflet_control_background.png") repeat-x; */
    /* background-size: 100% 100%; */
    background: #fff;
    padding: 3px 6px 3px 6px;
    width: 85px;
    height: auto;
    text-align: center;
    border-radius: 4px;
    text-decoration: none;
}
.leaflet-control-layers {
    /* background: #eee url("img/leaflet_control_background.png") repeat-x; */
    /* background-size: 100% 100%; */
    background: #fff;
}
.picker-button-label,
.picker-header {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
    color: black;
}
.picker-header {
    color: #555;
}
.picker-basemap-item,
.picker-overlay-item {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-weight: normal;
}
.picker-thumb {
    display: inline-block;
    width: 60px;
    height: 40px;
    vertical-align: middle;
    padding: 0px;
    margin: 2px;
    border: 2px solid #FFF;
}
.picker-thumb img {
    width: 100%;
    height: 100%;
    border: none;
    padding: 0px;
    margin: 0px;
}
.picker-thumb.nationalmap_hydro {
    background-image: url("img/thumb_basemap_nationalmap_hydro.png");
}
.picker-thumb.nationalmap_imagery {
    background-image: url("img/thumb_basemap_nationalmap_imagery.png");
}
.picker-thumb.nationalmap_imagery_topo {
    background-image: url("img/thumb_basemap_nationalmap_imagery_topo.png");
}
.picker-thumb.nationalmap_relief {
    background-image: url("img/thumb_basemap_nationalmap_relief.png");
}
.picker-thumb.nationalmap_topo {
    background-image: url("img/thumb_basemap_nationalmap_topo.png");
}
.picker-thumb.nationalmap_contours {
    background-image: url("img/thumb_basemap_nationalmap_contours.png");
}
.picker-thumb.nationalmap_fills {
    background-image: url("img/thumb_basemap_nationalmap_fills.png");
}
.picker-thumb.nationalmap_small {
    background-image: url("img/thumb_basemap_nationalmap_small.png");
}
.picker-thumb.openstreets {
    background-image: url("img/thumb_basemap_openstreets.png");
}
.picker-thumb.carto_base_light {
    background-image: url("img/thumb_basemap_carto_base_light.png");
}
.picker-thumb.carto_positron1 {
    background-image: url("img/thumb_basemap_carto_positron1.png");
}
.picker-thumb.carto_positron2 {
    background-image: url("img/thumb_basemap_carto_positron2.png");
}
.picker-thumb.carto_darkMatter1 {
    background-image: url("img/thumb_basemap_carto_darkMatter1.png");
}
.picker-thumb.carto_darkMatter2 {
    background-image: url("img/thumb_basemap_carto_darkMatter2.png");
}
.picker-thumb.esri_streets {
    background-image: url("img/thumb_basemap_esri_streets.png");
}
.picker-thumb.esri_natgeo {
    background-image: url("img/thumb_basemap_esri_natgeo.png");
}
.picker-thumb.esri_ocean {
    background-image: url("img/thumb_basemap_esri_ocean.png");
}
.picker-thumb.esri_topo {
    background-image: url("img/thumb_basemap_esri_topo.png");
}
.picker-thumb.esri_usatopo {
    background-image: url("img/thumb_basemap_esri_usatopo.png");
}
.picker-thumb.esri_imagery1 {
    background-image: url("img/thumb_basemap_esri_imagery1.png");
}
.picker-thumb.esri_imagery2 {
    background-image: url("img/thumb_basemap_esri_imagery2.png");
}
.picker-thumb.esri_physical1 {
    background-image: url("img/thumb_basemap_esri_physical1.png");
}
.picker-thumb.esri_physical2 {
    background-image: url("img/thumb_basemap_esri_physical2.png");
}
.picker-thumb.esri_relief1 {
    background-image: url("img/thumb_basemap_esri_relief1.png");
}
.picker-thumb.esri_relief2 {
    background-image: url("img/thumb_basemap_esri_relief2.png");
}
.picker-thumb.esri_terrain1 {
    background-image: url("img/thumb_basemap_esri_terrain1.png");
}
.picker-thumb.esri_terrain2 {
    background-image: url("img/thumb_basemap_esri_terrain2.png");
}
.picker-thumb.esri_cites_borders_light {
    background-image: url("img/thumb_basemap_esri_cites_borders_light.png");
}
.picker-thumb.esri_cites_borders_dark {
    background-image: url("img/thumb_basemap_esri_cites_borders_dark.png");
}
.picker-thumb.esri_reference {
    background-image: url("img/thumb_basemap_esri_reference.png");
}
.picker-thumb.esri_transportation {
    background-image: url("img/thumb_basemap_esri_transportation.png");
}

/*
----------------------------------------------------
leaflet: popup
----------------------------------------------------
*/
.popup-container {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: #222;
}
.popup-actions {
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    text-align: right;
    color: #222;
}
.popup-actions a {
    cursor: pointer;
    text-decoration: none;
    color: #00d;
}
.popup-actions a:hover {
    text-decoration: underline;
    color: #900;
}

/*
----------------------------------------------------
jQuery-ui: tooltips
----------------------------------------------------
*/

/* outer container for jQuery tooltip */
.ui-tooltip {
    background: lightYellow;
    border: none;
    border-radius: 8px;
    -moz-border-radius: 8px;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.4);
}
/* content of jQuery tooltip */
.ui-tooltip-content {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
}

/*
----------------------------------------------------
jQuery-ui overlays
----------------------------------------------------
*/
.ui-widget-overlay {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 1000;
}

/*
----------------------------------------------------
jQuery sliders
----------------------------------------------------
*/
.ui-slider,
.ui-slider-handle {
    cursor: pointer !important;
}

/*
----------------------------------------------------
jQuery-ui dialogs [ U.userAlert() ]
----------------------------------------------------
*/

/* div element containing dialog text */
#jquery-dialog-content {
    margin:  0px;
    padding-top:  5px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
}
#jquery-dialog-content p {
    margin: 0px;
    padding-top: 5px;
    text-align: left;
}

/* set margin, padding, borders, and radius */
.ui-dialog {
    z-index: 1001;
}
.ui-dialog,
.ui-dialog .ui-dialog-content,
.ui-dialog .ui-dialog-buttonpane,
.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset {
    margin: 0;
    padding: 0;
    border-radius: 8px;
}
.ui-dialog {
    border-radius: 8px;
}
.ui-dialog .ui-dialog-titlebar {
    font-family: arial,sans-serif;
    font-size: 13px;
    color: #FFFFFF;
    
    padding-bottom: 0px;
    
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}
.ui-dialog .ui-dialog-buttonpane {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}
.ui-dialog .ui-button {
    margin-right: 5px;
}
.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset .ui-button {
    margin-right: 15px;
    max-height: 23px;
}

/* app-specific (non-jQuery) class: checkbox & message text div added to dialog */
.ui-dialog-text,
.ui-dialog-myCheckbox {
    font-family: arial,sans-serif;
    font-size: 12px;
    color: #222222;
}
.ui-dialog-myCheckbox {
    position: absolute;
    left: 10px;
    bottom: 8px;
    margin: 0px;
    padding: 0px;
}

/*
------------------------------------------
api image markers [ U.addImgMarker() ]
------------------------------------------
*/
.addImgMarker-container {
    width: 200px;
}
.addImgMarker-container img {
    border: none;
}
.addImgMarker-caption {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
}

/*
------------------------------------------
disable UI controls [ U.disableUI() ]
------------------------------------------
*/
#disableUIcontrols {
}
.disableUI-button {
    height: 25px;
    width: 130px;
    margin-right: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    line-height: 25px; 
    color: white;
    border: 2px solid white;
    cursor: pointer;
}
#disableUIprev {
    background: #0066CC;
    float: left;
}
#disableUIprev:hover {
    background: #3399FF;
}
#disableUInext {
    background: #0066CC;
    float: left;
    margin-right: 20px;
}
#disableUInext:hover {
    background: #3399FF;
}
#disableUImap {
    background: #339966;
    float: left;
}
#disableUImap:hover {
    background: #00CC99;
}
#disableUIclose {
    margin-right: 0px;
    background: #990000;
    float: right;
}
#disableUIclose:hover {
    background: #FF0000;
}

/*
------------------------------------------
END
------------------------------------------
*/
